@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat Alternates", sans-serif;
}
body {
  padding: 0;
}

.cui-steps__step-icon-container {
  background-color: #46962a90 !important;
}

.chakra-menu__menu-list {
  background-color: hsl(0 0 18%) !important;
}

.chakra-menu__menuitem {
  background-color: hsl(0 0 18%) !important;
}

.chakra-menu__menuitem:hover {
  background-color: #47962a90 !important;
}

.chakra-input:focus {
  border-color: #46962a !important;
}
